button {
    font-size: 5vh;
    background: transparent;
    border: 0;
    touch-action: manipulation;
    padding-left: 7vh;
    padding-right: 7vh;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}
