.Player {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
}
.Player.reversed {
    flex-direction: row-reverse;
}

.Player.reversed .lifeDisplay {
    transform: scale(-1, -1);
}

.lifeDisplay {
    font-size: 20vh;
    font-weight: 600;
}
